<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" colors="true">
    <!-- Core SilverStripe modules (except framework) -->
    <testsuites>
        <testsuite name="recipe-core">
            <directory>vendor/silverstripe/config/tests</directory>
            <directory>vendor/silverstripe/assets/tests/php/</directory>
            <directory>vendor/silverstripe/versioned/tests/php/</directory>
            <directory>vendor/silverstripe/template-engine/tests/php/</directory>
        </testsuite>

        <!-- Framework ORM tests are split up to run in parallel -->
        <testsuite name="framework-core">
            <!-- Will be run in github actions CI with option exclude-filter /ORM/ -->
            <directory>vendor/silverstripe/framework/tests/php</directory>
        </testsuite>
        <testsuite name="framework-orm">
            <!-- Will be run in github actions CI with option filter /ORM/ -->
            <directory>vendor/silverstripe/framework/tests/php</directory>
        </testsuite>

        <testsuite name="recipe-cms">
            <directory>vendor/silverstripe/admin/tests/php/</directory>
            <directory>vendor/silverstripe/asset-admin/tests/php/</directory>
            <directory>vendor/silverstripe/siteconfig/tests/php/</directory>
            <directory>vendor/silverstripe/reports/tests/</directory>
            <!-- CMS needs to run last because the SearchFormTest enables FulltextSearchable  -->
            <directory>vendor/silverstripe/cms/tests/</directory>
        </testsuite>

        <testsuite name="g1">
            <directory>vendor/silverstripe/gridfieldqueuedexport/tests</directory>
            <directory>vendor/silverstripe/errorpage/tests</directory>
            <directory>vendor/silverstripe/textextraction/tests</directory>
            <directory>vendor/tractorcow/silverstripe-fluent/tests</directory>
        </testsuite>

        <testsuite name="g2">
            <directory>vendor/silverstripe/campaign-admin/tests/php/</directory>
            <directory>vendor/silverstripe/htmleditor-tinymce/tests/php</directory>
            <directory>vendor/silverstripe/hybridsessions/tests</directory>
            <directory>vendor/silverstripe/tagfield/tests</directory>
            <directory>vendor/silverstripe/taxonomy/tests</directory>
        </testsuite>

        <testsuite name="g3">
            <directory>vendor/silverstripe/blog/tests</directory>
            <directory>vendor/silverstripe/lumberjack/tests</directory>
            <directory>vendor/silverstripe/spamprotection/tests</directory>
            <directory>vendor/silverstripe/sharedraftcontent/tests</directory>
            <directory>vendor/symbiote/silverstripe-advancedworkflow/tests</directory>
        </testsuite>

        <testsuite name="g4">
            <directory>vendor/dnadesign/silverstripe-elemental/tests</directory>
            <directory>vendor/dnadesign/silverstripe-elemental-userforms/tests</directory>
        </testsuite>

        <testsuite name="g5">
            <directory>vendor/silverstripe/versioned-admin/tests</directory>
            <directory>vendor/silverstripe/segment-field/tests</directory>
        </testsuite>

        <testsuite name="g6">
            <directory>vendor/symbiote/silverstripe-queuedjobs/tests</directory>
            <directory>vendor/silverstripe/userforms/tests</directory>
        </testsuite>

        <testsuite name="g7">
            <directory>vendor/silverstripe/realme/tests</directory>
            <directory>vendor/silverstripe/mfa/tests</directory>
            <directory>vendor/silverstripe/totp-authenticator/tests</directory>
            <directory>vendor/silverstripe/login-forms/tests</directory>
        </testsuite>

        <testsuite name="g8">
            <directory>vendor/silverstripe/graphql/tests/</directory>
            <directory>vendor/symbiote/silverstripe-gridfieldextensions/tests</directory>
            <directory>vendor/silverstripe/staticpublishqueue/tests</directory>
            <directory>vendor/silverstripe/linkfield/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
